.header {
    display: flex;
    align-items: center;
}

.header img {
    width: 50px;
    height: 50px;
}

.header h1 {
    color: blueviolet;
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}